
<app-menu></app-menu>


<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>

                    </div>
                    <div class="col-md-9 register-right">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Update User</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-6" placeholder="First Name *" name="firstName" [(ngModel)]="userProfile.firstName" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" name="lastName" [(ngModel)]="userProfile.lastName" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" name="password" [(ngModel)]="userProfile.password" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">

                                      <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username *" name="username" [(ngModel)]="userProfile.username" />
                                    </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" name="email" [(ngModel)]="userProfile.email" />
                                        </div>

                                        <div class="form-group">
                                          <select class="form-control" name="role" [(ngModel)]="userProfile.role">
                                            <!-- Default option for the current user role -->
                                             <option [ngValue]="userProfile.role" disabled selected>{{userProfile.role}}</option>

                                            <!-- Static options -->
                                            <option value="user">User</option>
                                            <option value="faculty">Faculty</option>
                                            <option value="admin">Admin</option>
                                          </select>
                                        </div>


                                        <input type="submit" (click)="updateUser()" class="btnRegister"  value="Update"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
